<!DOCTYPE html>
<html>
	<head>
		
        <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>Hotel in Wonderland</title>
	</head>
	<body>
		<h1>Hotel in Wonderland</h1>
		<hr>
		<a href="/home">Home</a>
		<a href="/about">About</a>
		<a href="/rooms">Rooms</a>
		<hr>
		<h2 id="catchphrase">Hotel in Wonderland: The Hotel at the End of the Rabit Hole</h2>
		<h3>Room Reservations</h3>
		<form method="POST" action="/result">
		<label for “name”>Name of Adventurer</label>
			<input class = “name” type=“text” name="name" />
			<br />
		<label for “contact”>Contact Number</label>
			<input class = “name” type=“text” name="contacts" />
			<br />
		<label for "room">Room Desired</label>
			<select id="room" name="type">
			  <option value="Chess">Chess Room</option>
			  <option value="Garden">Garden Suite</option>
			  <option value="Plain-Not-So-Plain">Plain-Not-So-Plain Room</option>
			</select>
			<br />
			<label for "date_in">Check-In Date</label>
			<input id = "date_in" type="date" name="inn" />
			<br />
			<label for "date_out">Check-Out Date</label>
			<input id = "date_out" type="date" name="out" />
			<br />
			<input type="submit" value="Book"/>
		</form>
		
		<img id="reserve" src="serve.jpg" />
		<h4>Book now! and be the first (aside from Alice) to experience wonderland!</h4>
	</body>
</html>
